root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
# If a file contains tabs, render them at 4 spaces width in editors that support EditorConfig
tab_width = 4
